nav {
    text-align: center;
    color: whitesmoke;
    font: bold 20spx verdana;
}

.opciones{
    background-color: #0088CC;
    margin: 10px;
    padding: 1%;
    border-radius: 15px;
    text-align: right;
    color: white;
}
.opciones li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 3%;
}
.opciones li:hover{
    color: darkgrey;
}

.secciones .art{
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #0088CC;
    border-radius: 20px;

}

.secciones h2{
    text-align: center;
    padding: 2%;
}

.secciones iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
.secciones .p{
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 560px;
    text-align: justify;
}
.secciones .fe{
    text-align: center;
    margin-top: 2px;
    padding: 2%;   
}