/*secciones*/
.secciones h1{
    text-align: center;
    background-color: #0088CC;
    margin: 1%;
    border-radius: 10px;
}
.secciones section{
    height: 300px;
    border: 1px solid black;
    margin: 1%;
}


